<div class="container-fluid" [ngClass]="'child-container'">
  <nav class="navbar navbar-default navbar-dark navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header" (click)="navigate('/admin/home')">
        <a class="navbar-brand">Admin</a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li (click)="navigate('/home')"><a>Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <!--documents-->
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" role="navigation">
        <ul class="list-group panel">
          <li class="list-group-item" (click)="navigate('/admin/home')"><a><b>Dashboard</b></a></li>
          <!--<li class="list-group-item"><input type="text" class="form-control search-query"-->
          <!--placeholder="Search Something">-->
          <!--</li>-->
          <li class="list-group-item" [routerLink]="['/admin/users']"><a><i
            class="glyphicon glyphicon-user"></i> <b>Users</b></a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
