<div class="col-xs-12 col-sm-10 content">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="content-row">
            <div class="col-md-12">
              <h2>Users Dashboard</h2>
              <ngx-table
                [configuration]="tableConfig"
                [data]="data"
                [columns]="columns"
                [pagination]="pagination">

                <ng-template let-row>
                  <td>
                    <span class="font-small">{{row.email}}</span>
                  </td>
                  <td>
                    <span class="font-small">{{row.name}}</span>
                  </td>
                  <td>
                    <span class="font-small">{{row.role}}</span>
                  </td>
                  <td>
                    <div class="circle" [style.color]="row.active? 'green' : 'red'"></div>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm"
                            (click)=showModal()>Edit
                    </button>
                  </td>
                </ng-template>
              </ngx-table>
            </div>

      </div><!-- panel body -->
    </div>
  </div><!-- content -->


